<div class="container">
    <section class="info">
        Flashcard is a new app used for creating flashcards and learn through them. This app provides an easy to use interface for the learning and creating the data for flashcards. User can generate flashcards by folowing the three simple steps:-
        <ul class="steps">
            <li>Click on the <a href="#create">create</a> button from the navigation bar on the top. A form like this will appear.<img src="#"></li>
            <li> Choose the topic and create your first flash card element.</li>
            <li>For adding mutiple cards click on the add button <img src="#"> then fill the data for the other card.</li>
        </ul>
    </section>
</div>